<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://anilist.co/img/icons/favicon-32x32.png"
    />
    <title><%= anime.ENGLISH %> &#183; AniList</title>
    <link rel="stylesheet" href="/styles/media_individual.css" />
  </head>

  <body>
    <% function convertToMonth(integerValue) { %> <% const months = ['Jan',
    'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov',
    'Dec']; %> <%= months[integerValue - 1] %> <% } %> 
    
    <%-include("navcontainer.ejs", { isAdmin, userimage, username }) %>

    <div class="banner" data-tooltip="<%= anime.BANNER_IMAGE %>">
      <div class="shadow"></div>
    </div>

    <div class="container-wrap" style="background-color: rgb(21, 31, 46)">
      <div class="container">
        <div class="cover-wrap">
          <img class="cover" src="<%= anime.COVER_IMAGE %>" alt="" />
          <!-- here I have to work on -->
          <button class="addToList" onclick="addToList()"><%=status%></button>
        </div>

        <div class="content">
          <div class="headline"><%= anime.ENGLISH %></div>
          <div class="description"><%- anime.DESCRIPTION %></div>
          <div class="nav">
            <a class="nav-item" href="">Overview</a>
            <a
              class="nav-item"
              href="/anime/<%=anime.ANIME_ID%>/<%=anime.ENGLISH%>/reviews"
              >Reviews</a
            >
            <a class="nav-item" href="">Social</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div>
        <div class="main-container-trailer">
          <div class="data-set">
            <div class="type">Format</div>
            <div class="value"><%= anime.FORMAT %></div>
          </div>

          <div class="data-set">
            <div class="type">Episodes</div>
            <div class="value"><%= anime.EPISODES %></div>
          </div>

          <div class="data-set">
            <div class="type">Episode Duration</div>
            <div class="value"><%= anime.DURATION %> mins</div>
          </div>

          <div class="data-set">
            <div class="type">Status</div>
            <div class="value"><%= anime.STATUS %></div>
          </div>

          <div class="data-set">
            <div class="type">Start Date</div>
            <div class="value">
              <%= convertToMonth(anime.START_MONTH) %> <%= anime.START_DAY %>,
              <%= anime.START_YEAR %>
            </div>
          </div>

          <% if(anime.END_YEAR && anime.END_MONTH && anime.END_DAY) { %>
          <div class="data-set">
            <div class="type">End Date</div>
            <div class="value">
              <%= convertToMonth(anime.END_MONTH) %> <%= anime.END_DAY %>, <%=
              anime.END_YEAR %>
            </div>
          </div>
          <% } %>

          <div class="data-set">
            <div class="type">Season</div>
            <div class="value">
              <%= anime.SEASON %> <%= anime.SEASON_YEAR %>
            </div>
          </div>

          <% if(avgScore) { %>
            <div class="data-set">
              <div class="type">Average Score</div>
              <div class="value"><%=avgScore%> / 10</div>
            </div>
          <% } %>

          <div class="data-set">
            <div class="type">Studios</div>
            <% for(let i = 0; i < studios.length; ++i) { %>
            <div class="value"><%= studios[i].STUDIO_NAME %></div>
            <% } %>
          </div>

          <div class="data-set">
            <div class="type">Producers</div>
            <div class="value">Pony Canyon</div>
            <div class="value">Kodansha</div>
            <div class="value">Production I.G</div>
            <div class="value">Dentsu</div>
            <div class="value">Pony Canyon EnterPrise</div>
            <div class="value">Mainichi Broadcasting System</div>
          </div>

          <div class="data-set">
            <div class="type">Source</div>
            <div class="value"><%= anime.SOURCE %></div>
          </div>

          <div class="data-set">
            <div class="type">Genres</div>

            <% for(let i = 0; i < genres.length; ++i) { %>
            <div class="value"><%= genres[i].GENRE_NAME %></div>
            <% } %>
          </div>

          <div class="data-set">
            <div class="type">Romaji</div>
            <div class="value"><%= anime.ROMAJI %></div>
          </div>

          <div class="data-set">
            <div class="type">English</div>
            <div class="type"><%= anime.ENGLISH %></div>
          </div>

          <div class="data-set">
            <div class="type">Native</div>
            <div class="value"><%= anime.NATIVE %></div>
          </div>
        </div>

        <div style="background-color: transparent">
          <div class="write-review">
            <a href="/review/anime/editor/<%= anime.ANIME_ID %>">
              <svg
                data-v-c93e1c70=""
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="edit"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                style="height: 13px; align-self: center"
              >
                <path
                  data-v-c93e1c70=""
                  fill="currentColor"
                  d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"
                  class=""
                ></path>
              </svg>
              <div
                style="
                  align-self: center;
                  text-align: center;
                  font-family: 'Roboto';
                "
              >
                Write Review
              </div>
            </a>
          </div>
        </div>

        <!-- <div class="others">
          <div
            style="
              font-family: 'Roboto';
              font-size: 14px;
              margin: 20px 0px 10px 0px;
              color: #9fadbd;
              font-weight: 500;
            "
          >
            External & Streaming links
          </div>

          <a href="">
            <div class="icon-wrap">
              <svg data-v-c1b7ee7c="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="link" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon default svg-inline--fa fa-link fa-w-16"><path data-v-c1b7ee7c="" fill="currentColor" d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z" class=""></path></svg>
            </div>
          </a>
        </div> -->
      </div>

      <div class="main-container-description">
        <div
          style="
            color: #9fadbd;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 500;
            margin-bottom: 10px;
          "
        >
          Relations
        </div>
        <div class="relations">
          <div class="medias">
            <% for(let i = 0; i < mangas.length; ++i) { %>
            <div class="media">
              <div class="media-cover">
                <img
                  src="<%=mangas[i].COVER_IMAGE%>"
                  alt=""
                  class="media-cover-image"
                />
              </div>

              <div class="media-description">
                <div class="relationtype">Source</div>
                <a href="" class="media-name"><%= mangas[i].ENGLISH %></a>
                <div class="media-status">
                  <%= mangas[i].FORMAT %> &#183; <%= mangas[i].STATUS %>
                </div>
              </div>
            </div>
            <% } %> <% for(let i = 0; i < relations.length; ++i) { %>
            <div class="media">
              <div class="media-cover">
                <img
                  src="<%=relations[i].COVER_IMAGE%>"
                  alt=""
                  class="media-cover-image"
                />
              </div>

              <div class="media-description">
                <div class="relationtype">Adaptation</div>
                <a
                  href="/anime/<%= relations[i].ANIME_ID %>/<%= relations[i].ENGLISH %>"
                  class="media-name"
                  ><%= relations[i].ENGLISH %></a
                >
                <div class="media-status">
                  <%= relations[i].FORMAT %> &#183; <%= relations[i].STATUS %>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <div>
          <a class="section-headline" href="">Characters</a>
          <div class="characters">
            <% for(let i = 0; i < characters.length; ++i) { %>
            <div class="individual-character">
              <div class="character">
                <a
                  href="/character/<%= characters[i].CHARACTER_ID %>/<%= characters[i].FULL_NAME %>"
                  class="character-cover"
                >
                  <img
                    src="<%= characters[i].IMAGE %>"
                    alt=""
                    class="character-cover-image"
                  />
                </a>
                <div class="character-description">
                  <div class="name"><%= characters[i].FULL_NAME %></div>
                  <div class="role"><%= characters[i].ROLE %></div>
                </div>
              </div>

              <div class="voice-artist">
                <div class="voice-artist-description">
                  <div class="name"><%= characters[i].FULL_NAME_1 %></div>
                  <div class="role">Japanese</div>
                </div>

                <a
                  href="/va/<%= characters[i].VA_ID %>/<%= characters[i].FULL_NAME_1 %>"
                  class="voice-artist-cover"
                >
                  <img
                    src="<%= characters[i].VA_IMAGE %>"
                    alt=""
                    class="voice-artist-cover-image"
                  />
                </a>
              </div>
            </div>

            <% } %>
          </div>
        </div>

        <div>
          <a class="section-headline" href="">Staff</a>
          <div class="staffs">
            <% for(let i = 0; i < staffs.length; ++i) { %>
            <div class="individual-staff">
              <a
                href="/staff/<%= staffs[i].STAFF_ID %>/<%= staffs[i].FULL_NAME %>"
                class="staff-cover"
              >
                <img
                  src="<%= staffs[i].IMAGE %>"
                  alt=""
                  class="staff-cover-image"
                />
              </a>
              <div class="staff-description">
                <div class="name"><%= staffs[i].FULL_NAME %></div>
                <div class="role"><%= staffs[i].ROLE %></div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <div class="stats-status-wrap">
          <div class="stats-distribution">Status Distribution</div>
          <div class="stats-status">
            <div class="status">
              <div
                class="status-name"
                style="background-color: rgb(104, 214, 57)"
              >
                Completed
              </div>
              <div class="status-amount">
                <span style="color: rgb(104, 214, 57)"><%=completed%></span> Users
              </div>
            </div>

            <div class="status">
              <div
                class="status-name"
                style="background-color: rgb(2, 169, 255)"
              >
                Planning
              </div>
              <div class="status-amount">
                <span style="color: rgb(2, 169, 255)"><%=planning%></span> Users
              </div>
            </div>

            <div class="status">
              <div class="status-name" style="background-color: #9256f3">
                Current
              </div>
              <div class="status-amount">
                <span style="color: #9256f3"><%=watching%></span> Users
              </div>
            </div>

            <div class="status">
              <div class="status-name" style="background-color: #f779a4">
                Paused
              </div>
              <div class="status-amount">
                <span style="color: #f779a4"><%=paused%></span> Users
              </div>
            </div>

            <div class="status">
              <div class="status-name" style="background-color:rgb(104, 214, 57)">
                Dropped
              </div>
              <div class="status-amount">
                <span style="color: rgb(104, 214, 57)"><%=dropped%></span> Users
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="list-editor-wrap">
      <div class="list-editor-body">
        <div class="header" data-tooltip="<%= anime.BANNER_IMAGE %>">
          <div class="contentListEditor">
            <div class="close-btn" onclick="closeList()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 6L6 18M6 6l12 12" />
              </svg>
            </div>

            <div class="cover">
              <img
                src="<%=anime.COVER_IMAGE%>"
                alt=""
                style="width: 100%; vertical-align: text-top"
              />
            </div>

            <div class="title"><%=anime.ENGLISH%></div>

            <div class="favourite">
              <svg
                data-v-0228dea0=""
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="heart"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  data-v-0228dea0=""
                  fill="currentColor"
                  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                  class=""
                ></path>
              </svg>
            </div>

            <button class="save-btn">submit</button>
          </div>
        </div>

        <div class="description">
          <% if(preference) { %>
            <div>
                <label class="labelll">Status</label>

                <select id="status">
                  <option value="watching" <% if (preference.STATUS === 'WATCHING') { %>selected<% } %>>Watching</option>
                  <option value="plan_to_watch" <% if (preference.STATUS === 'PLAN_TO_WATCH') { %>selected<% } %> >Plan to Watch</option>
                  <option value="completed" <% if (preference.STATUS === 'COMPLETED') { %>selected<% } %> >Completed</option>
                  <option value="paused" <% if (preference.STATUS === 'PAUSED') { %>selected<% } %> >Paused</option>
                  <option value="dropped" <% if (preference.STATUS === 'DROPPED') { %>selected<% } %> >Dropped</option>
                </select>
            </div>

            <div>
                <label for="" class="labelll">Score</label>
                <input
                  type="number"
                  id="media-score"
                  class="validated-input"
                  max="10"
                  placeholder="Score must be out of 10"
                  value="<%=preference.SCORE%>"
                />
                <p class="validation-message"></p>
            </div>

            <div>
                <label for="" class="labelll">Episode Progress</label>
                <input type="number" id="media-episode-progress" value="<%=preference.EPISODE_PROGRESS%>"/>
            </div>
          <% } else { %>
            <div>
                <label class="labelll">Status</label>

                <select id="status">
                  <option value="watching">Watching</option>
                  <option value="plan_to_watch">Plan to Watch</option>
                  <option value="completed">Completed</option>
                  <option value="paused">Paused</option>
                  <option value="dropped">Dropped</option>
                </select>
            </div>

            <div>
                <label for="" class="labelll">Score</label>
                <input
                  type="number"
                  id="media-score"
                  class="validated-input"
                  max="10"
                  placeholder="Score must be out of 10"
                />
                <p class="validation-message"></p>
            </div>

            <div>
                <label for="" class="labelll">Episode Progress</label>
                <input type="number" id="media-episode-progress"/>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <script src="/scripts/tooltip.js"></script>
    <script src="/scripts/media_individual.js"></script>
    <script>

      const favouriteButton = document.querySelector(".favourite");
      const saveButton = document.querySelector(".save-btn");
      const status = document.querySelector("#status");
      const score = document.querySelector("#media-score");
      const episodeProgress = document.querySelector("#media-episode-progress");
      const listEditor = document.querySelector(".list-editor-wrap");
      const closeButton = document.querySelector(".contentListEditor .close-btn");

      // favourite button color set
      let favouriteButtonState = "<%=isLiked%>"

      //console.log("state: " + favouriteButtonState)

      if(favouriteButtonState === "true") {
        favouriteButton.style.color = "#e85d75"
      } else favouriteButton.style.color = "#fff"
      //

      let url =
        "http://localhost:8080/anime/<%=anime.ANIME_ID%>/<%=anime.ENGLISH%>";

      function addToList() {
          listEditor.style.transform = "scale(1)"
      }

      async function closeList() {
          listEditor.style.transform = "scale(0)"
      }

      saveButton.onclick = async (url) => {
        console.log(saveButton);

        const payLoad = {
          mediaStatus: status.value,
          mediaScore: score.value,
          mediaEpisodeProgress: episodeProgress.value,
        };

        const response = await fetch(url, {
          method: "post",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json"
          },
          body: JSON.stringify(payLoad)
        })

        const data = await response.json()

        console.log(data)

        await closeList()
      };

      

      favouriteButton.onclick = async (url) => {
        console.log(favouriteButton);

        console.log(url);

        const response = await fetch(url, {
          method: "post",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({ like: true }),
        });

        const isLiked = await response.json();

        //console.log(isLiked);

        if (isLiked.isLiked) {
          favouriteButton.style.color = "#e85d75";
        } else {
          favouriteButton.style.color = "#fff";
        }
      };


    </script>
  </body>
</html>
