<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://anilist.co/img/icons/favicon-32x32.png"
    />
    <title>Manga Reviews &#183; AniList</title>
    <link rel="stylesheet" href="/styles/generic.css" />
    <link rel="stylesheet" href="/styles/review_generic.css" />
    <style>
      .a-style {
        text-decoration: none;
        color: #a0b1c5;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <%- include("navcontainer.ejs", { isAdmin, userimage: mainuserimage, username: mainusername }) %>

    <div class="container">
      <div class="header-wrap">
        <h1>Manga Reviews</h1>
      </div>

      <% if(reviews.length) { %>
        <div class="review-wrap">
          <% for(let i = 0; i < reviews.length; ++i) { %>

          <a href="/review/manga/<%=reviews[i].REVIEW_MANGA_ID%>" class="review-card">
            <div class="banner">
              <img src="<%=reviews[i].BANNER_IMAGE%>" alt="" />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of <%=reviews[i].ENGLISH%> by <%=reviews[i].USERNAME%>
              </div>

              <div class="summary"><%= reviews[i].REVIEW_MANGA_TEXT.substring(0, 70) %></div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes"><%=reviews[i].LIKES%></div>
              </div>
            </div>
          </a>

          <% } %>

          <!-- <a href="" class="review-card">
            <div class="banner">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/156040-5ZETAYIXKOU2.jpg"
                alt=""
              />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of The Most Heretical Last Boss Queen: From Villainess to
                Savior by Soemwriter
              </div>

              <div class="summary">
                Otome Game Villainess Archetype: as sweet and nutritious as sugar
              </div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes">5</div>
              </div>
            </div>
          </a>

          <a href="" class="review-card">
            <div class="banner">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/manga/banner/86526-JNIKYHF4ltJN.jpg"
                alt=""
              />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of The Most Heretical Last Boss Queen: From Villainess to
                Savior by Soemwriter
              </div>

              <div class="summary">
                Otome Game Villainess Archetype: as sweet and nutritious as sugar
              </div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes">5</div>
              </div>
            </div>
          </a>

          <a href="" class="review-card">
            <div class="banner">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/101972-MDSLGGHIyAyX.jpg"
                alt=""
              />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of The Most Heretical Last Boss Queen: From Villainess to
                Savior by Soemwriter
              </div>

              <div class="summary">
                Otome Game Villainess Archetype: as sweet and nutritious as sugar
              </div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes">5</div>
              </div>
            </div>
          </a>

          <a href="" class="review-card">
            <div class="banner">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/20665-j4kSsfhfkM24.jpg"
                alt=""
              />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of The Most Heretical Last Boss Queen: From Villainess to
                Savior by Soemwriter
              </div>

              <div class="summary">
                Otome Game Villainess Archetype: as sweet and nutritious as sugar
              </div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes">5</div>
              </div>
            </div>
          </a>

          <a href="" class="review-card">
            <div class="banner">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/110353-ZKkmemQSFP7L.jpg"
                alt=""
              />
              <div class="read-review">
                <span>Read Full Review</span>
              </div>
            </div>

            <div class="content">
              <div class="header">
                Review of The Most Heretical Last Boss Queen: From Villainess to
                Savior by Soemwriter
              </div>

              <div class="summary">
                Otome Game Villainess Archetype: as sweet and nutritious as sugar
              </div>

              <div class="like-icon">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="thumbs-up"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    data-v-0369a0cf=""
                    fill="currentColor"
                    d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                    class=""
                  ></path>
                </svg>
                <div class="likes">5</div>
              </div>
            </div>
          </a> -->
        </div>
      <% } else { %>
        <h1
          style="
            font-family: 'Roboto';
            font-size: 32px;
            margin-top: 100px;
            text-align: center;
          "
        >
          No Results Found
        </h1>
      <% } %>
    </div>

    <script src="/scripts/tooltip.js"></script>
    <script src="/scripts/media_individual.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const reviewCards = document.querySelectorAll(".review-card");

        reviewCards.forEach(function (reviewCard) {
          const readReview = reviewCard.querySelector(".read-review");

          reviewCard.addEventListener("mouseover", () => {
            readReview.style.opacity = 1;
          });

          reviewCard.addEventListener("mouseleave", () => {
            readReview.style.opacity = 0;
          });
        });
      });
    </script>
  </body>
</html>
