<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://anilist.co/img/icons/favicon-32x32.png"
    />
    <title>Search Staff &#183; AniList</title>
    <link rel="stylesheet" href="/styles/generic.css" />
    <style>
      .a-style {
        text-decoration: none;
        color: #a0b1c5;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <%- include("navcontainer.ejs", { isAdmin, userimage, username }) %>

    <form action="/search/staff" method="post">
      <h1 style="color: #adc0d2; font-size: 35px; margin: 35px 120px">
        Search Staff
      </h1>
      <div class="filters">
        <div class="filter">
          <div class="name">Search</div>
          <div class="search-wrap">
            <img
              src="/svgs/icons8-search.svg"
              alt=""
              width="15px"
              height="15px"
              style="opacity: 0.5; align-self: center"
            />
            <input
              type="text"
              id="character-search"
              name="name"
              style="width: 310px"
            />
          </div>
        </div>

        <button class="form-button filter" type="submit">Filter</button>
      </div>
    </form>

    <% let length=Object.keys(search).length %> <% if(length> 0) { %> <%
    if(staffs.length===0) { %>
    <div class="no-results">No Results</div>
    <% } else { %>
    <div class="results-grid-container">
      <% staffs.forEach((staff)=> { %>
      <div class="media-card">
        <img class="media-card-image" src="<%= staff.IMAGE %>" alt="" />
        <a
          href="/staff/<%= staff.STAFF_ID %>/<%= staff.FULL_NAME %>"
          class="media-card-title"
        >
          <%= staff.FULL_NAME %>
        </a>
      </div>
      <% }); %>
    </div>
    <% } %> <% } else { %>
    <div class="results-grid-container">
      <% staffs.forEach((staff)=> { %>
      <div class="media-card">
        <img class="media-card-image" src="<%= staff.IMAGE %>" alt="" />
        <a
          href="/staff/<%= staff.STAFF_ID %>/<%= staff.FULL_NAME %>"
          class="media-card-title"
        >
          <%= staff.FULL_NAME %>
        </a>
      </div>
      <% }); %>
    </div>
    <% } %>

    <script src="/scripts/tooltip.js"></script>
  </body>
</html>
