<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://anilist.co/img/icons/favicon-32x32.png"
    />
    <title>Home &#183; AniList</title>
    <link rel="stylesheet" href="/styles/generic.css" />
    <link rel="stylesheet" href="/styles/user_homepage.css" />
    <style>
      .a-style {
        text-decoration: none;
        color: #a0b1c5;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <%- include("navcontainer.ejs", { isAdmin, userimage, username }) %>

    <div class="container">
      <div class="activity-feed-wrap">
        <h2 class="section-headline">Activity</h2>

        <div class="activity-feed-entry">
          <a href="">
            <img
              src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx162314-ocaEhYmvznFO.jpg"
              alt=""
            />
          </a>

          <div class="details">
            <a href="" class="name"><%=username%></a>
            <span>Plans to watch</span>
            <a href="" class="title"
              >Attack on Titan Final Season THE FINAL CHAPTERS Special 2</a
            >
            <a href="" class="avatar">
              <img
                src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b5554607-xqH4fch0ho6v.jpg"
                alt=""
              />
            </a>
            <div class="time">5 months ago</div>
          </div>
        </div>

        <div class="activity-feed-entry">
          <a href="">
            <img
              src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx162314-ocaEhYmvznFO.jpg"
              alt=""
            />
          </a>

          <div class="details">
            <a href="" class="name">Nayeemj496</a>
            <span>Plans to watch</span>
            <a href="" class="title"
              >Attack on Titan Final Season THE FINAL CHAPTERS Special 2</a
            >
            <a href="" class="avatar">
              <img
                src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b5554607-xqH4fch0ho6v.jpg"
                alt=""
              />
            </a>
            <div class="time">5 months ago</div>
          </div>
        </div>

        <div class="activity-feed-entry">
          <a href="">
            <img
              src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx162314-ocaEhYmvznFO.jpg"
              alt=""
            />
          </a>

          <div class="details">
            <a href="" class="name">Nayeemj496</a>
            <span>Plans to watch</span>
            <a href="" class="title"
              >Attack on Titan Final Season THE FINAL CHAPTERS Special 2</a
            >
            <a href="" class="avatar">
              <img
                src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b5554607-xqH4fch0ho6v.jpg"
                alt=""
              />
            </a>
            <div class="time">5 months ago</div>
          </div>
        </div>
      </div>

      <div class="right-section">

        <% if(watching.length) { %>
          <div class="list-preview-wrap">
            <h2 class="section-headline">In Progress</h2>
            <div class="list-previews">

              <% for(let i = 0; i < watching.length; ++i) { %>

                  <a href="/anime/<%=watching[i].ANIME_ID%>/<%=watching[i].ENGLISH%>">
                    <img
                      src="<%=watching[i].COVER_IMAGE%>"
                      alt=""
                    />
                  </a>

              <% } %>
            
            </div>
          </div>
        <% } %>

        <% if(reading.length) { %>
          <div class="list-preview-wrap">
            <h2 class="section-headline">In Progress</h2>
            <div class="list-previews">

              <% for(let i = 0; i < reading.length; ++i) { %>

                  <a href="/manga/<%=reading[i].MANGA_ID%>/<%=reading[i].ENGLISH%>">
                    <img
                      src="<%=reading[i].COVER_IMAGE%>"
                      alt=""
                    />
                  </a>

              <% } %>
            
            </div>
          </div>
        <% } %>


        <div class="recent-threads">
          <h2 class="section-headline">Forum Activity</h2>
          <div class="thread-card">
            <a href="">
              Guess who the above user's favorites will be from the series
              they're watching
            </a>
            <div class="footer">
              <a href="">
                <img
                  src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b6031105-KfZpkiEIo69a.png"
                  alt=""
                />
              </a>
              <div class="thread-user">
                <a class="user">Taki17</a> replied
                <span style="font-family: 'Roboto'">18 minutes</span> ago
              </div>
              <a href="" class="type">anime</a>
            </div>
          </div>

          <div class="thread-card">
            <a href="">
              Guess who the above user's favorites will be from the series
              they're watching
            </a>
            <div class="footer">
              <a href="">
                <img
                  src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b6031105-KfZpkiEIo69a.png"
                  alt=""
                />
              </a>
              <div class="thread-user">
                <a class="user">Taki17</a> replied
                <span style="font-family: 'Roboto'">18 minutes</span> ago
              </div>
              <a href="" class="type">anime</a>
            </div>
          </div>

          <div class="thread-card">
            <a href="">
              Guess who the above user's favorites will be from the series
              they're watching
            </a>
            <div class="footer">
              <a href="">
                <img
                  src="https://s4.anilist.co/file/anilistcdn/user/avatar/large/b6031105-KfZpkiEIo69a.png"
                  alt=""
                />
              </a>
              <div class="thread-user">
                <a class="user">Taki17</a> replied
                <span style="font-family: 'Roboto'">18 minutes</span> ago
              </div>
              <a href="" class="type">anime</a>
            </div>
          </div>
        </div>

        <% if(userAnimeReviews.length) { %>
          <div class="recent-reviews">
            <h2 class="section-headline">Recent Anime Reviews</h2>
            <div class="review-wrap">

              <% for(let i = 0; i < userAnimeReviews.length; ++i) { %>
                <a href="/review/anime/<%=userAnimeReviews[i].REVIEW_ANIME_ID%>" class="review-card">
                  <div class="banner">
                    <img
                      src="<%=userAnimeReviews[i].BANNER_IMAGE%>"
                      alt=""
                    />
                    <div class="read-review">
                      <span>Read Full Review</span>
                    </div>
                  </div>

                  <div class="content">
                    <div class="header">
                      Review of <%=userAnimeReviews[i].ENGLISH%> by <%=userAnimeReviews[i].USERNAME%>
                    </div>

                    <div class="summary">
                      <%= userAnimeReviews[i].REVIEW_ANIME_TEXT.substring(0, 70) %>
                    </div>

                    <div class="like-icon">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="thumbs-up"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class=""
                      >
                        <path
                          data-v-0369a0cf=""
                          fill="currentColor"
                          d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                          class=""
                        ></path>
                      </svg>
                      <div class="likes"><%=userAnimeReviews[i].LIKES%></div>
                    </div>
                  </div>
                </a>
              <% } %>

            </div>
          </div>
        <% } %>


        <% if(userMangaReviews.length) { %>
          <div class="recent-reviews">
            <h2 class="section-headline">Recent Manga Reviews</h2>
            <div class="review-wrap">

              <% for(let i = 0; i < userMangaReviews.length; ++i) { %>
                <a href="/review/manga/<%=userMangaReviews[i].REVIEW_MANGA_ID%>" class="review-card">
                  <div class="banner">
                    <img
                      src="<%=userMangaReviews[i].BANNER_IMAGE%>"
                      alt=""
                    />
                    <div class="read-review">
                      <span>Read Full Review</span>
                    </div>
                  </div>

                  <div class="content">
                    <div class="header">
                      Review of <%=userMangaReviews[i].ENGLISH%> by <%=userMangaReviews[i].USERNAME%>
                    </div>

                    <div class="summary">
                      <%= userMangaReviews[i].REVIEW_MANGA_TEXT.substring(0, 70) %>
                    </div>

                    <div class="like-icon">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="thumbs-up"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class=""
                      >
                        <path
                          data-v-0369a0cf=""
                          fill="currentColor"
                          d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"
                          class=""
                        ></path>
                      </svg>
                      <div class="likes"><%=userMangaReviews[i].LIKES%></div>
                    </div>
                  </div>
                </a>
              <% } %>

            </div>
          </div>
        <% } %>

        <div class="newly-added-wrap">
          <h2 class="section-headline">Newly Added Anime</h2>
          <div class="newly-added">
            <a href="">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx153518-7FNR7zCxO2X5.jpg"
                alt=""
              />
            </a>

            <a href="">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx153518-7FNR7zCxO2X5.jpg"
                alt=""
              />
            </a>

            <a href="">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/bx30013-tZVlfBCHbrNL.jpg"
                alt=""
              />
            </a>

            <a href="">
              <img
                src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx98437-5q0GWqHhNAgJ.jpg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/tooltip.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const reviewCards = document.querySelectorAll(".review-card");

        reviewCards.forEach(function (reviewCard) {
          const readReview = reviewCard.querySelector(".read-review");

          reviewCard.addEventListener("mouseover", () => {
            readReview.style.opacity = 1;
          });

          reviewCard.addEventListener("mouseleave", () => {
            readReview.style.opacity = 0;
          });
        });
      });
    </script>
  </body>
</html>
