<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Admin Logs - AniList</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://anilist.co/img/icons/favicon-32x32.png" />
    <link rel="stylesheet" href="/styles/media_individual.css" />
    <style>
        .a-style {
            text-decoration: none;
            color: #a0b1c5;
            font-size: 14px;
        }

        .username {
            text-decoration: none;
            font-size: 19px;
            color: #000;
        }

        .wrapper {
            max-width: 1150px;
            margin: 0px auto;
            padding: 50px;
        }

        .logs {
            width: 100%;
        }

        .logs .log {
            width: 100%;
            height: auto;
            background-color: #f0f0f0;
            margin-bottom: 20px;
            border-radius: 4px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h3, p {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <%- include("navcontainer.ejs", { isAdmin, userimage, username }) %>

    <div class="wrapper">
        <div class="logs">
            <% for(let i = 0; i < logs.length; ++i) { %>
                <div class="log">
                    <a href="/user/<%=logs[i].USERNAME%>" class="username"><h3>Username: <%=logs[i].USERNAME%></h3></a>
                    <p>
                        Parameter: <%=logs[i].PARAMETER%>
                    </p>
                    <p>
                        <%=logs[i].EVENT_TYPE%>
                    </p>
                    <p>Date: <%=logs[i].DATE_OF_CREATION%></p>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/scripts/tooltip.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        socket.on("adminLog", message => {
            const arr = message.split("|")
            
            const newLog = document.createElement("div")
            newLog.classList.add("log")

            const logContent = `
                <a class="username" href="/user/\`/\`${arr[0]}/\`"><h3>Username: ${arr[0]}</h3></a>
                <p>Parameter: ${arr[1]}</p>
                <p>${arr[2]}</p>
                <p>Date: ${arr[3]}</p>
            `;

            newLog.innerHTML = logContent

            const logContainer = document.querySelector(".logs")
            logContainer.appendChild(newLog)
        })

        
    </script>
</body>

</html>